@import "../index.scss";

.home_page {
	height: 100%;
	background-color: #f5f5f5;
	display: flex;
    flex-direction: column;
	.wallet_bg {
		width: 100%;
	}
		.wallet_part {
			overflow: auto;
			height: 100%;
		}
	.wallet_box {
		padding: 0 0.3rem;
		margin-top: -3.8rem;
		position: relative;
		z-index: 99;
		// overflow: auto;
// height: 100%;
		.add_wallet {
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 0.3rem;
			justify-content: flex-end;
			span {
				margin-left: 0.08rem;
			}
		}
		.wallet_item {
			display: flex;
			flex-direction: column;
			background-color: #fefefe;
			border-radius: 0.16rem;
			padding: 0.24rem;
			margin-bottom: 0.3rem;
		}

		.top_part,
		.mid_part,
		.bottom_part {
			display: flex;
			justify-content: space-between;
		}

		.top_part {
			margin-bottom: 0.3rem;

			.left_box {
				border-left: 4px solid $mainColor;
				border-radius: 1px;
				font-size: 0.32rem;
				height: 0.32rem;
				line-height: 0.32rem;
				padding-left: 0.08rem;
			}
		}

		.mid_part {
			// flex-direction: column;
			// justify-content: flex-start;
			align-items: center;
			margin-bottom: 0.24rem;
			.left_box {
				font-size: 0.28rem;
				color: #999;
				font-weight: 400;
			}

			.right_box {
				font-size: 0.46rem;
				// font-weight: 500;
			}
		}

		.bottom_part {
			align-items: center;
			.left_box {
				align-items: center;
			display: flex;
			}
			.dot_box {
				position: absolute;
				margin-top: .1rem;
			}
			.address_btn {
				margin-left: .1rem;
			}
			.dot1,
			.dot2 {
				background-color: $mainColor;
				width: 0.2rem;
				height: 0.2rem;
				border-radius: 50%;
			}
			.dot2 {
				background-color: rgba(22, 119, 255, 0.701);
				transform: translate(0.06rem, -0.286rem);
				position: absolute;
			}
			.right_box {
				.ant-btn {
					border-radius: 0.08rem;
					font-size: 0.24rem;
					height: auto;
				}
			}
		}
	}
}
// .am-modal-transparent {
// 	.am-modal-content {
// 		background-color: transparent;
// 	}
// }
