@import "../index.scss";
.argee_text {
			color: #1890ff;
			cursor: pointer;
		}
.login_page {
	height: 100%;
	background-color: #fefefe;

	.login_checkbox {
				.am-checkbox {
					height: .32rem;
					width: auto;
					margin-right: .1rem;
				}
				.am-checkbox-inner {
					width: .3rem;
					height: .3rem;
				}
				.am-checkbox-inner:after {
					height: 9px;
					right: 4px;
				}
	}						
					
	.login_agreement_box {
		text-align: center;
		margin-top: 0.3rem;
		font-size: 0.2rem;
		white-space: nowrap;
		display: flex;
		justify-content: center;
	}
	.top_part {
		padding: 2.45rem 0.3rem 1.34rem;
		background-image: url("../../../src/assets/login_bg.png");
		background-size: 100% 100%;

		.title {
			font-size: 0.6rem;
			font-weight: 600;
		}
		.desc {
			font-size: 0.36rem;
			font-weight: 300;
		}
	}

	.mid_part {
		padding: 0 0.3rem;
		margin-bottom: 1rem;

		.login_methods {
			display: flex;
			font-size: 0.28rem;
			align-items: baseline;
			margin-left: 0.08rem;
			height: 0.5rem;
			// margin-bottom: 0.3rem;
			.vcode_login {
				margin-right: 0.4rem;
			}
			div {
				transition: all 0.2s;
			}
		}

		.get_vcode_box {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(-15%, -50%);
		}

		.active {
			font-size: 0.36rem;
			color: $mainColor;
			position: relative;
			&::after {
				content: "";
				width: 0.5rem;
				height: 2px;
				border-radius: 0.2rem;
				background-color: $mainColor;
				position: absolute;
				bottom: -2px;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.login_input_box {
			.ant-form-item {
				margin: 0;
			}
			.input_item {
				border: none;
				background-color: #fefefe;
			}
			.v_code_col {
				.input_item {
					width: 80%;
				}
			}
			.ant-input:focus,
			.ant-input-focused,
			.ant-input-affix-wrapper:focus,
			.ant-input-affix-wrapper-focused {
				box-shadow: none;
			}
			.input_col {
				border: 1px solid #ddd;
				padding: 0.32rem;
				font-size: 0.32rem;
				border-radius: 0.65rem;
				margin-top: 0.32rem;
			}
		}

		.more_login_action {
			display: flex;
			justify-content: space-between;
			// .register_btn {
			.ant-btn {
				padding-right: 0;
				padding-left: 0;
			}
			// }

			.forget_password {
				.ant-btn {
					color: #333;
				}
			}
		}
	}

	.get_vcode {
		font-size: 0.28rem;
		padding: 0;
		height: auto;
	}
	.bottom_part {
		padding: 0 0.3rem;
		.login_btn {
			width: 100%;
			padding: 0.2rem 0;
			height: auto;
			border-radius: 0.16rem;
			font-size: 0.34rem;
			line-height: initial;
		}
	}
}
