.device_item {
	// padding-top: 0.2rem;
	position: relative;
	margin-bottom: 0.2rem;
	.device_desc_box {
		border: 1px solid #eeeeee;
		padding: 0.24rem;
		border-radius: 0.16rem;
		background-color: #fefffe;
	}
	.right_arrow {
		width: 0.36rem;
		position: absolute;
		right: 0.24rem;
		top: 0.2rem;
	}
	.top_part {
		display: flex;
		.right_box {
			margin-left: 0.18rem;
			overflow: hidden;
		}
		.sn_title,
		.address_title {
			margin-top: 0.04rem;
			font-size: 0.32rem;
			font-weight: 500;
		}
		.sn,
		.address {
			font-size: 0.28rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
		}

		.sn_box {
			margin-bottom: 0.28rem;
		}

		.left_box {
			img {
				height: 100%;
				width: 1.68rem;
				object-fit: contain;
			}
		}
	}

	.bottom_part {
		display: flex;
		justify-content: space-between;
		padding: 0.14rem;
		padding-right: 0.01rem;
		background-color: #fafafa;
		border-radius: 0.08rem;
		color: #0061f9;
		align-items: center;
		font-weight: 500;
		.nft_title {
			font-size: 0.32rem;
		}
		.nft_price {
			font-size: 0.44rem;
		}
	}

	.action_btn_box {
		display: flex;
		justify-content: space-between;
		// background-color: #fefffe;
		margin-top: 0.24rem;

		.ant-btn {
			border-color: #1677ff;
			font-size: 0.32rem;
			height: auto;
			border-radius: 0.08rem;
			padding: 4px 0.5rem;
		}

		.unbind_btn {
			color: #1677ff;
		}
		.setting_btn {
			color: #fafafa;
			min-width: 1.6rem;
			padding: 4px 0.75rem;
		}
	}
}
