@import "../../css/color.scss";

.device_item {
	// padding-top: 0.2rem;
	position: relative;
	margin-bottom: 0.29rem;

	.device_desc_box {
		border: 1px solid #eeeeee;
		padding: 0.3rem;
		border-radius: 0.16rem;
		background-color: #fefffe;
	}

	.desc_box {
		display: flex;
	}

	.arrow_box {
		align-items: center;
		display: flex;
	}

	.right_arrow {
		width: 0.3rem;
	}

	.top_part {
		display: flex;
		flex: 80%;

		.right_box {
			margin-left: 0.24rem;
			// overflow: hidden;
		}

		.sn_title,
		.address_title {
			font-size: 0.28rem;
			line-height: 0.28rem;
			font-weight: 500;
			margin-bottom: 0.15rem;
		}

		.sn,
		.address {
			font-size: 0.24rem;
			line-height: 0.24rem;
			white-space: nowrap;
			// overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			color: $baseGary;
		}

		.sn_box {
			margin-bottom: 0.28rem;
		}

		.left_box {
			img {
				height: 100%;
				width: 1.15rem;
				height: 1.66rem;

				object-fit: contain;
			}
		}
	}

	.bottom_part {
		display: flex;
		justify-content: space-between;
		padding: 0.22rem 0.31rem;
		// padding-right: 0.01rem;
		background-color: #fafafa;
		border-radius: 0.08rem;
		color: $baseBule;
		align-items: center;
		font-weight: 500;
		font-size: 0.28rem;
		line-height: 0.3rem;
		margin-top: 0.2rem;
	}

	.action_btn_box {
		display: flex;
		justify-content: flex-end;
		// background-color: #fefffe;
		margin-top: 0.24rem;

		.ant-btn {
			font-size: 0.24rem;
			line-height: 0.24rem;
			height: auto;
			border-radius: 0.08rem;
		}

		.unbind_btn {
			color: #fff;
			border-color: #fff;
			margin-right: 0.13rem;
			padding: 0.19rem 0.43rem;
		}

		.setting_btn {
			color: #fafafa;
			min-width: 1.6rem;
			padding: 0.19rem 0.66rem;
		}
	}
}

.device_info_box {
	background-color: #383950;
	margin: 0;

	.device_desc_box {
		background-color: #383950;
		border: 0;
		padding: 0;

		.sn_title,
		.address_title {
			color: #fff;
		}

		.bottom_part {
			background-color: #77799e;
			color: #fff;
		}
	}
}
