@import "../../css/color.scss";

.set_carousel {
	height: 100%;
	overflow: hidden;
	transition: 0.3s all;
	.am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
		display: none !important;
	}

	#scroll_carousel {
		height: 100%;
		overflow: auto;

		// margin-top: 0.1rem;
		// padding-bottom: 1.2rem;
		.bottom_box {
			width: 100%;
			text-align: center;
			padding-bottom: 0.2rem;
			color: #ccc;

			span {
				font-size: 0.4rem;
			}
		}
	}

	.ant-image {
		width: 100%;

		// min-height: 1.5rem;
		.ant-image-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;

			.loading_icon {
				font-size: 0.7rem;
				color: #1677ff;
			}
		}
	}

	.am-tabs-default-bar-tab {
		height: auto;

	}
	.carousel_tabs {
		font-size: 0.3rem;
		// white-space: nowrap;
		line-height: .36rem;
		color: #fff;
	}

	.clear_btn {
		position: absolute;
		z-index: 99;
		right: 0.3rem;
		transform: translate(0px, 0.12rem);
	}

	.ant-btn-link[disabled] {
		color: rgba(143, 143, 143, 0.502);
	}

	.am-tabs-default-bar {
		width: 70%;
		// background-color: transparent !important;
	}

	.am-tabs-pane-wrap {
		overflow: hidden;
		background-color: #fff;
		border-radius: 0.1rem;
		// padding-top: 0.3rem;
	}

	.am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
		display: none;
	}

	.am-tabs-default-bar-tab {
		border: 0;
	}

	.am-tabs-tab-bar-wrap {
		// background-color: $baseBlack;
		padding-bottom: 0.3rem;
	}

	.am-tabs-content-wrap {
		border-radius: 0.1rem;
		// overflow: hidden;
	}

	.set_carousel_card {
		// background-color: #fefffe;
		border-radius: 0.16rem;
		overflow: hidden;
		height: 100%;

		.disabledTab {
			color: #ccc;
		}

		.item_page {
			// padding: 0.3rem;
			// padding-bottom: 3.5rem;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.radio_box {
			display: flex;
			flex-wrap: wrap;

			.radio_item {
				border-radius: 0.38rem;
				background-color: #f5f5f5;
				color: #999;
				padding: 0.08rem 0.2rem;
				margin-right: 0.15rem;
				border: 1px solid transparent;
				transition: 0.3s all;
				white-space: nowrap;
				font-size: 0.26rem;
				margin-bottom: 0.3rem;
			}

			.active {
				background-color: #f2f7ff;
				color: #1677ff;
				border: 1px solid #1677ff;
				box-sizing: border-box;
			}
		}

		.nft_list {
			padding: 0.3rem;
			// padding-top: 0;
			// padding-bottom: 0rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			overflow: auto;
			flex: 1;

			.select_btn {
				width: 0.32rem;
				height: 0.32rem;
				background-color: rgba(254, 255, 254, 0.564);
				border: 1px solid #fefffe;
				border-radius: 50%;
				position: absolute;
				top: 0.1rem;
				right: 0.1rem;
				transition: 0.3s all;
			}

			.select_btn_active {
				border-color: #80b5ff;
				background-color: #1677ff;
			}

			.left_box,
			.right_box {
				width: 47.5%;
			}

			.nft_item {
				.ant-image {
					min-height: 1.5rem;
					line-height: 1.5rem;
				}

				// width: 48%;
				border: 1px solid rgb(237, 237, 237);
				margin-bottom: 0.3rem;
				border-radius: 0.16rem;
				overflow: hidden;
				position: relative;

				img,
				video {
					object-fit: contain;
					width: 100%;
				}

				video {
					border-radius: 0.16rem;
				}

				.select_img {
					width: 0.34rem;
					height: 0.34rem;
					position: absolute;
					top: 0.1rem;
					right: 0.1rem;
					transition: 0.3s all;
				}
			}
		}

		.item_page2 {
			.time_box {
				display: flex;
				align-items: center;
				padding: 0.3rem 0.24rem;
				justify-content: space-between;
				font-size: 0.26rem;
				color: #999;

				.time_item {
					border: 0.02rem solid #e9e9e9;
					background-color: #f7f7f7;
					border-radius: 0.08rem;
					padding: 0.35rem 0.32rem;
					transition: 0.3s all;
				}

				.active {
					border-color: #2561f5;
					color: #2561f5;
					background-color: #f8fbff;
				}
			}
		}
	}

	.item_page2_action {
		margin-top: 0.8rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 0 0.24rem;

		.ant-btn {
			width: 100%;
			border-radius: 0.08rem;
			font-size: 0.3rem;
			line-height: 0.32rem;
			padding: 0.12rem 0;
			height: auto;
			border-radius: 0.47rem;
			padding: 0.3rem 0;
		}

		.cancel_btn {
			background-color: #fff;
			color: #56adf7;
			border: 0;
		}

		.save_time_btn {
			margin-bottom: 0.24rem;
			background: linear-gradient(96deg, #64c2f7, #2769f5);
		}
	}
}

.bottom_modal_box {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	padding: 0.16rem 0.3rem;
	background-color: #fff;

	.top_part {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.2rem;

		.ant-btn {
			letter-spacing: -1px;
			// padding: 0.12rem 0.24rem;
			// height: auto;
			// line-height: normal;
		}
	}

	.bottom_part {
		// display: flex;
		white-space: nowrap;
		padding: 0 0.24rem;
		overflow-x: auto;
		padding-top: 0.18rem;

		.selected_nft_item {
			width: 1.23rem;
			height: 1.23rem;
			position: relative;
			margin-right: 0.2rem;
			display: inline-block;

			.ant-image {
				width: 100%;
				height: 100%;

				.loading_icon {
					font-size: 0.4rem;
					color: #1677ff;
				}
			}

			.nft_img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0.08rem;
			}

			.close_btn {
				background-color: rgba(0, 0, 0, 0.701);
				border-radius: 50%;
				position: absolute;
				width: 0.36rem;
				height: 0.36rem;
				right: -0.18rem;
				top: -0.18rem;
				display: flex;
				z-index: 999;

				img {
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

.bottom_confirm_box {
	padding: 0.3rem 0.58rem;
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	.confirm_btn {
		width: 100%;
		background: linear-gradient(96deg, #64c2f7, #2769f5);
		border-radius: 0.47rem;
		font-size: 0.3rem;
		font-weight: 500;
		padding: 0.3rem 0;
		border: 0;
		color: #fff;
		height: auto;
		line-height: 0.3rem;
	}
}
