
[submodule "webpkit"]
	path = deps/webpkit
	url = http://gitlab.stars-mine.com/hardware/webpkit.git

[submodule "web3z"]
	path = deps/web3z
	url = http://gitlab.stars-mine.com/hardware/web3z.git

[submodule "mvp-ser"]
	path = deps/mvp-ser
	url = http://gitlab.stars-mine.com/hardware/mvp-ser.git

[submodule "mvp-sol"]
	path = deps/mvp-sol
	url = http://gitlab.stars-mine.com/hardware/mvp-sol.git