
[submodule "webpkit"]
	path = deps/webpkit
	url = https://github.com/louis-tru/webpkit.git

[submodule "web3-tx"]
	path = deps/web3z
	url = https://github.com/louis-tru/web3-tx.git

[submodule "mvp-ser"]
	path = deps/mvp-ser
	url = https://github.com/Smart-Holder/mvp-ser.git

[submodule "mvp-sol"]
	path = deps/mvp-sol
	url = https://github.com/Smart-Holder/mvp-sol.git