out
.svn
.DS_Store
*.DS_Store
node_modules*
config.js
.config.js
package-lock.json
nohup.out
var
nifty
.openzeppelin
yarn.lock
native/ios/mvp-wallet.xcodeproj/project.xcworkspace
native/ios/mvp-wallet.xcodeproj/xcuserdata