$mainColor: #1677ff;
.ant-btn-link {
	color: $mainColor;
}
.button_btn.ant-btn-primary[disabled],
.button_btn.ant-btn-background-ghost.ant-btn-primary[disabled] {
	background-color: rgba(22, 119, 255, 0.408) !important;
	color: #fff !important;
	border: none !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
	box-shadow: none;
}

div {
	color: #333;
}
.width_btn {
	width: 100%;
	padding: 0.2rem 0;
	height: auto;
	border-radius: 0.16rem;
	font-size: 0.34rem;
	line-height: initial;
}

.ant-spin-nested-loading {
	height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin {
	max-height: none;
}

.textNoWrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.am-modal.am-modal-operation .am-modal-content .am-modal-button {
	padding: 0;
}

// ._main > div {
// 	padding-bottom: 0;
// 	// background-color: #f5f5f5;
// 	color: #333;
// }
