@import "../../css/color.scss";

.update_page {
	background-color: $baseBlack;
	.setting_title {
		color: #fff;
		font-size: 0.3rem;
		margin-bottom: 0.28rem;
		margin-top: 0.36rem;
	}

	.setting_box {
		padding: 0 0.3rem;
	}
	.card_box {
		padding: 0 0.3rem;
		background-color: #fff;
		border-radius: 0.12rem;

		.bottom_part {
			padding: 0.6rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.hasNew::after {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: rgb(242, 89, 89);
		position: absolute;
		top: -5px;
		right: -5px;
	}
}
