@import "../index.scss";

.remove_modal {
	.am-modal-button-group-h .am-modal-button:first-child {
		color: #ccc;
	}
}

.dialog {
	z-index: 1000;
}

.wallet_setting_page {
	background-color: #f5f5f5;

	.account_item {
		display: flex;
		background-color: #fefefe;
		padding: .24rem .3rem;
		margin-bottom: .3rem;
		.left_box {

			height: 1.2rem;
			width: 1.2rem;
			margin-right: .24rem;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		.right_box {
			padding: .18rem 0;
			overflow: hidden;
			.account_address_box {
				display: flex;
				justify-content: space-between;
			}

			.account_name {
				font-size: .32rem;
			}
			.account_address {
				color: #999999;
				font-size: .28rem;
				width: 80%;
			}
		}
	}

	.setting_item {
		display: flex;
		padding: .24rem .30rem;
		justify-content: space-between;
		align-items: center;
		background-color: #fefefe;

		.setting_title {
			font-size: .32rem;
		}

		.setting_icon {
			transform: rotate(180deg);
		}
	}

	.btn_box {
		padding: 0 .3rem;
		.ant-btn {
			margin-top: 1.6rem;
		}
	}
}