.device_info_page {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	.device_info_page_content {
		padding: 0 0.3rem;
		margin-top: 0.3rem;
		overflow: auto;
	}

	.device_info_page_title {
		font-size: 0.36rem;
		margin-bottom: 0.24rem;
		margin-top: 0.5rem;
		margin-left: 0.02rem;
	}

	.am-tabs {
		height: auto;
	}

	.device_card_box {
		padding: 0.24rem;
		background-color: #fefffe;
		border-radius: 0.16rem;
		margin-bottom: 0.4rem;
	}
	.list_box {
		margin-top: 0.1rem;
	}

	.nft_box {
		.nft_img_box {
			width: 100%;
			margin-bottom: 0.3rem;
			img {
				width: 100%;
				max-height: 3.73rem;
				object-fit: cover;
				border-radius: 0.16rem;
			}
		}

		.nft_address_box {
			margin-bottom: 0.24rem;
		}

		.nft_address_title,
		.nft_hash_title {
			line-height: 0.32rem;
			font-size: 0.32rem;
		}

		.nft_address,
		.nft_hash {
			font-size: 0.42rem;
		}

		.action_btn_box {
			margin-top: 0.4rem;
			width: 100%;
			.ant-btn {
				width: 100%;
				border-radius: 0.16rem;
				font-size: 0.34rem;
				height: auto;
				padding: 0.12rem 0;
			}
		}
	}
}
