
.nft_add {
	background-color: #F9F9F9;

	._title {
		// background: none;
	}

	.inputs {
		// margin-top: 0.2rem;
		// padding-left: 22rem;
		background-color: #fff;

		.i1 {
			// padding-top: 0.33rem;
			padding-left: 0.51rem;
			// padding-bottom: 0.12rem;
			border-bottom: solid 0.01rem #979797;
			color: #000;
			line-height: 0.37rem;
			font-size: 0.26rem;
			display: flex;
			height: 0.8rem;
			align-items: center;
			.txt1 {
				width: 1.3rem;
			}
			.input {
				width: 5rem;
				flex: 1;
			}
			.btn {
				width: 0.5rem;
				height: 0.5rem;
				// background-color: #f00;
				background-image: url(../res/1627293059467.jpg);
				background-size: 0.38rem;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 0.3rem;
			}
			.btn:active {
				opacity: 0.5;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}