.nft_detail_page {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	.nft_detail_page_card_box {
		flex: 1;
		padding: 0.24rem 0.3rem 0.24rem;
		.nft_detail_page_card {
			background-color: #fff;
			border-radius: 0.16rem;
			height: 100%;
		}
		// height: 100%;
	}
	.item_page {
		margin-top: 0.2rem;
		.nft_info_box {
			width: 100%;
		}
		.order_item {
			display: flex;
			flex-direction: column;
			margin-bottom: 0.2rem;
			background-color: #f5f5f5;
			border-radius: 0.2rem;
			padding: 0.2rem;
			// border-bottom: 1px solid #ccc;
			.order_row {
				display: flex;
				.label {
					width: 1.2rem;
					text-align: right;
					margin-right: 0.4rem;
				}
				.value {
					width: 70%;
				}
			}
		}
	}

	.nft_card {
		padding: 0.24rem;
		background-color: #fefffe;
		border-radius: 0.16rem;
		margin-bottom: 0.4rem;
		.nft_img_box {
			width: 100%;
			position: relative;
			margin-bottom: 0.3rem;
			overflow: hidden;
			border-radius: 0.16rem;
			img,
			video {
				width: 100%;
				max-height: 3.73rem;
				object-fit: cover;
				border-radius: 0.16rem;
			}
			.nft_count {
				position: absolute;
				right: 0;
				top: 0;
				background-color: rgba(0, 0, 0, 0.625);
				z-index: 99;
				color: #fff;
				padding: 0.06rem 0.25rem;
				border-radius: 0 0 0 0.2rem;
			}
		}

		.nft_address_box {
			margin-bottom: 0.24rem;
		}

		.nft_address_title,
		.nft_hash_title {
			line-height: 0.32rem;
			font-size: 0.32rem;
			font-weight: 500;
		}

		.nft_address,
		.nft_hash {
			font-size: 0.28rem;
		}

		.action_btn_box {
			margin-top: 0.4rem;
			width: 100%;
			display: flex;
			justify-content: space-between;
			.ant-btn {
				width: 100%;
				border-radius: 0.16rem;
				font-size: 0.34rem;
				height: auto;
				padding: 0.12rem 0;
			}
		}

		.btn_list {
			.ant-btn {
				width: 40%;
				font-size: 0.28rem;
			}
		}
	}
}
