body {
	font-family: sans-serif, STHeiti, Microsoft YaHei, Helvetica, Arial;
	color: #333;
}

._main {
	background: none;
}

._main > div {
	padding-bottom: 1.35rem;
}

._main ._title {
	// background: none;
	// display: none;
}

._main ._title ._b:after {
	content: none;
}

._mini_app ._title {
	// display: none;
	position: relative;
	height: auto;
	padding: 0.56rem 0.32rem 0;
	background-color: transparent;
}

._mini_app ._title ._b {
	height: auto;
	line-height: initial;
	text-align: left;
	font-weight: 500;
	display: flex;
	align-items: center;
}

._mini_app ._title {
}

._mini_app ._title ._b > div:first-child {
	display: none;
	position: static;
	width: auto;
	padding: 0;
	margin-bottom: 0.05rem;
}

._mini_app > div {
	padding-top: 0;
}

._main ._title ._b > div:before {
	font-size: 0.4rem;
	line-height: normal;
}

._btn {
	width: 80%;
	text-align: center;
	font-size: 0.3rem;
	border: 0.01rem solid #0af;
	border-radius: 0.1rem;
	height: 0.5rem;
	margin: auto;
	margin-top: 0.2rem;
	line-height: 0.5rem;
	color: #0af;
	background: #fff;
}

._btn:active {
	opacity: 0.5;
}

._btn2 {
	color: #f00;
	border-color: #f00;
}
// .ant-image-preview-wrap {
// 	z-index: 99999 !important;
// }
// .ant-image-preview-mask {
// 	z-index: 9999 !important;
// }
._tools {
	position: fixed;
	height: 1.35rem;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #fff;
	z-index: 99;
	transform: translateX(0) translateZ(99px);
	.btn {
		transition: all 0.5s;
		width: 0.65rem;
		height: 0.88rem;
		// background: #f00;
		font-size: 0.24rem;
		// display: flex;
		// justify-content: center;
		// flex-wrap: wrap;
		text-align: center;
		> div {
			display: inline-block;
		}
		.icon {
			width: 0.48rem;
			height: 0.48rem;
			// background-color: #f00;
			background-size: 100% 100%;
		}
		.icon.a {
			background-image: url(../res/1627382932865.jpg);
		}
		.icon.b {
			background-image: url(../res/1627383050781.jpg);
		}
		.txt {
			// margin-top: 0.07rem;
			line-height: 0.33rem;
		}
		&:active {
			opacity: 0.5 !important;
		}
		// opacity: 0.5;
	}
	.btn.on {
		opacity: 1;
	}
}

.textNoWrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

// .dialog .btns > div,
.dialog .btns .ok {
	color: #1677ff;
}

.dialog .default {
	border-radius: 0.16rem;
	.tip_box {
		position: relative;
		.tip_icon {
			margin-top: 1px;
			position: absolute;
			margin-left: -0.5rem;
			width: 0.4rem;
			margin-right: 0.05rem;
		}
	}
	.a {
		.anticon {
			position: absolute;
			right: 0.2rem;
			top: 0.2rem;
			// font-size: 0.3rem;
			color: #888;
		}
	}
}
.dialog .core {
	position: relative;
}

#bind_device {
	.b {
		color: #333;
	}
}
